<footer>
    {% block css -%}
    <link rel="stylesheet" href="/css/footer_custom.css" />
    <link rel="stylesheet" href="/css/home_custom.css" />
    {%- endblock css %}

    <div id="author">
        <div class="info">
            <img src="{{ config.extra.avatar }}" alt="avatar">
            <div class="info-text">
                <p>
                    <span id="name">{{ config.extra.name }}</span>
                    {% if config.extra.show_id -%}
                    <span id="id">
                        <a class="twitter-link" href="{{ config.extra.links[2].url }}" target="_blank">@{{ config.extra.id }}</a>
                    </span>
                    {% endif -%}
                </p>
                <p id="bio"> {{ config.extra.bio }} </p>
            </div>
        </div>
        <div class="link">
            <div class="left">
                {% for link in config.extra.links -%}
                <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel='noreferrer noopener'><i class="{{ link.icon }} ri-xl"></i></a>
                {% endfor -%}
            </div>
        </div>
    </div>
    <div class="copyright">
        {% if config.extra.footer_custom -%}
        {{ config.extra.footer_custom }}
        {%- else -%}
        Copyright © {{ config.extra.footer_copyright_year }} {{ config.extra.footer_copyright_name }}. Tout droits réservés.
        {%- endif %}
    </div>
    {% if config.extra.footer_credits -%}
    <div class="credits">
        <span>Powered by <a href="https://www.getzola.org/" target="_blank" rel='noreferrer noopener'>Zola</a> and <a href="https://github.com/isunjn/serene" target="_blank" rel='noreferrer noopener'>Serene</a></span>
    </div>
    {%- endif %}
</footer>